#footer{
	width: 100%;
	background: #CB3362;

	.sosial{
		width: 30px;
		height: 30px;
	}

	.sosial1{
		background:url('../../img/iconlar.png'); 
		

	}

	.sosial2{
		background:url('../../img/iconlar.png'); 
		background-position: 0px -96px;
		
    
	}
	.sosial3{
		background:url('../../img/iconlar.png'); 
		background-position: 0px -64px;
    
	}
	.sosial4{
		background:url('../../img/iconlar.png'); 
		background-position: 0px -32px;
    
	}
	.leftSpace{
		margin-left: 49px;
	}

	.paddingtop{
		padding-top:49px;
		padding-bottom: 14em;
	}
}
